<!DOCTYPE html>
<html>
<head>
</head>
<body>

{% if articulo %}
    <h1>Artículo: {{ articulo.title }}</h1>
    <p>ID: {{ articulo.id }}</p>
    <p>Fecha de Creación: {{ articulo.created }}</p>
{% else %}
    <p>Artículo no encontrado.</p>
{% endif %}

</body>
</html>
